<div class="w-full max-w-sm p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-6 md:p-8 ">
    <%= form_with model: @teacher, url: teacher_sessions_path  do |form| %>
        <h4 class="text-xl font-medium text-gray-900 my-3">Sign In as a Teacher</h4>
        <div class="my-3" >
            <%= form.label :email, class:"block mb-2 text-sm font-medium text-gray-900 " %>
            <%= form.email_field :email ,class:"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" ,placeholder: "Email" %>
        </div>
        <div class="my-3" >
            <%= form.label :password ,class:"block mb-2 text-sm font-medium text-gray-900" %>
            <%= form.password_field :password,  placeholder:"••••••••" ,class:"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 " %>
        </div>
        <div class="flex items-start my-2">
            <a href="#" class="ms-auto text-sm text-blue-700 hover:underline">Lost Password?</a>
        </div>
        <div>
            <%= form.submit "Sign In", class:"w-full mt-4 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 text-center text-white" %>
        </div>
        <div class="text-sm font-medium text-gray-500 my-3">
            Don't have an account? <%= link_to "Sign Up", new_teacher_path , class:"text-blue-700 hover:underline" %>
        </div>
   <% end %>
</div>


